body{
    background-image:url("../images/greencd.jpg");
    font-family: cursive;
}
#triviaTitle{
    text-align:center;
    margin: 10px;
    padding: 20px;
    font-weight: bolder;
    font-family: cursive;
    font-size: 40px;
}
h4{
    text-align: center;
    font-weight: bold;
    padding:20px;
} 

#displayButtons{
    padding: 15px;
    margin: 20px;
    font-size: 25px;
    text-align: center;
}

#start{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    width: 290px;
    height: 103px;
    color: black;
}

.spotifyEmbed {
    margin-bottom: 5px;
    min-height: 100%;
    display: block;
    padding: 20px;
 }
    
 iframe {
    width: 100%;
    display: flex;
    align-items: center;
 }



    
    
    
    
