body{
    background-image:url("../images/greencd.jpg");
    color: white;
    font-family: cursive;
   
      
}

.jumbotron{
    background-color:limegreen;
    

}

img{
    float:right;
    margin-bottom: 20px;
}

#triviaTitle{
    color: white;
    font-weight: bolder;
    font-family: cursive;
    font-size: 40px;

}

h4{
    color: white;
    font-weight: bold;
    padding:20px;

}

#start{
    display: block;
    margin: 0, auto;
    padding: 15px;
}

#dropdown{
    text-align: center;
    padding: 20px;
    background: goldenrod;

}

#question{
    padding: 20px;

}

.form-check{
    padding: 10px;

}









